@tailwind base;
@tailwind components;
@tailwind utilities;


section {
  height: 100vh;
  margin: 0;

}
video{
  width: 100vw;
  /* height: 100vh; */
  position: absolute;
  top: 0;

  z-index: 1;
}
#canvas{
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 10;
}
